mixin product(data)
	- data = data || {};

	+b.product.js-product&attributes(attributes)
		+e('input').input.js-product-input(
			type='checkbox'
			name=data.id
			id=data.id
			checked=data.checked
			disabled=data.disabled
		)

		+e('label').label.js-product-label(
			for=data.id
		)
			+e('div').container
				+e('div').info
					+e('div').description-wrapper
						+e('div').description=data.description
						+e('div').no-approve=data.approve
					+e('div').name=data.name
					+e('div').additive=data.additive
					+e('div').portions
						+e('span').quantity=data.quantity
						+e('span')=data.portions
					+e('div').present!=data.present.replace(/\n/g, '<br>')

					+e('img').image(
						src=data.image
						title=data.title
						alt=data.title
					)

					+e('div').weight
						+e('span').number=data.weight

			+e('div').action-call
				+e('span').buy-text=data.text
				+e('label').buy-link(for=data.id)=data.link
				+e('span').consist=data.consist
				+e('span').no-more=data.ended
