mixin product(data)
	- data = data || {};

	+b.product.js-product&attributes(attributes)
		+e('input').input.js-product-input(
			type='checkbox'
			name=data.id
			id=data.id
			checked=data.checked
			disabled=data.disabled
		)

		+e('label').label.js-product-label(
			for=data.id
		)
			+e('div').container
				+e('div').info
					+e('div').description-wrapper
						+e('div').description=data.description
						+e('div').no-approve=data.approve
					+e('h2').name=data.name
					+e('h3').additive=data.additive
					+e('p').portions
						+e('span').quantity.js-product-quantity-portions=data.quantity
						+e('span')=data.portions
					+e('p').present
						+e('span').quantity.js-product-quantity-present=data.number
						+e('span')=data.present
						
					if data.satisfied
						+e('div').satisfied=data.satisfied
					
				+e('div').image-wrapper
					+e('img').image(
						src=data.image
						title=data.title
						alt=data.title
					)

				+e('div').weight
					+e('span').number.js-product-weight=data.weight
					+e('span').measure=data.measure
					
				+e('div').hidden-triangle
				+e('div').disabled

			+e('p').action-call
				+e('span').buy-text=data.text
				+e('label').buy-link(for=data.id)=data.link
				+e('span').consist=data.consist
				+e('span').no-more=data.ended
